
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Diet Plans{% endblock title %}
{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
    {% for a in add1 %}
 <h2>Recommendations for diet plan for {{ a.Primary_Diet }} diet</h2>
 <!-- Slider 1 -->
    {% if a.Primary_Diet == 'Anything' %}
    <div class="owl-carousel" id="slider1">
        {% for b in product %}
        <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
        {% endfor %}
        </div>
    {% elif a.Primary_Diet == 'Vegetarian' %}
        <div class="owl-carousel" id="slider1">
            {% for b in product1 %}
            <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
            {% endfor %}
            </div>
    {% elif a.Primary_Diet == 'Paleo' %}
            <div class="owl-carousel" id="slider1">
                {% for b in product2 %}
                <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
                {% endfor %}
                </div>
    {% elif a.Primary_Diet == 'Vegan' %}
                <div class="owl-carousel" id="slider2">
                    {% for b in product3 %}
                    <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
                    {% endfor %}
                    </div>
    {% elif a.Primary_Diet == 'Ketogenic' %}
                <div class="owl-carousel" id="slider3">
                    {% for b in product4 %}
                    <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
                    {% endfor %}
                    </div>
    {% else %}
                <div class="owl-carousel" id="slider2">
                    {% for b in product5 %}
                    <a href="{% url 'detaildeitplan' b.id %}" class="btn"><div class="item"><img src="{{b.Diet_photo.url}}" alt="" height="200px"><span class="fw-bold">{{b.name}}</span><br><span class="fs-5"> {{b.Primary_Diet}}</span></div></a>
                    {% endfor %}
                    </div>
    {% endif %}
    {% endfor %}



</div>
{% endblock main-content %}