{% extends 'app/base.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="container">
        <div class="container">
            <div class="row bg-warning text-center p-5 text-white border-bottom shadow">
  <div class="row bg-secondary text-center p-5 text-white border-bottom shadow">
          <div style="text-color: #8f1f08" class="row bg-info text-center p-5 text-white border-bottom shadow">
    <h1><i>Services</i></h1>
    <big><span><i>HELPFUL HEARTS is a service provider application that gives the users or customer the information about doctors,
        hospitals, wellness and fitness centers. We provide the details like location, address, phone number , timings for each respetive service
        such that it will be easy for the customer to gather and analysis the information when seraching for a place.</i></span></big>

      <main class="fw-lighter"><i>The World Health Organisation (WHO) defines health as ‘a state of complete physical, mental and social wellbeing and not merely the absence of disease or infirmity’ (WHO, 1948). This is consistent with the biopsychosocial model of health, which considers physiological, psychological and social factors in health and illness, and interactions between these factors. It differs from the traditional medical model, which defines health as the absence of illness or disease and emphasises the role of clinical diagnosis and intervention.</i></main>
      <h5 style="text-align-last:left"><i>Modules Of Helpful Hearts</i></h5>
      <ol style="text-align-last:left">
          <i>
          <li><span> Online Medicine Ordering</span></li>
          <li><span>Doctors Profile</span></li>
          <li><san>Hospital Details and Locations</san></li>
          <li><span>Fitness Centers Details and Locations</span></li>
          <li><span>Authentication</span></li>
          <li><span>Diet Plan Recommendations</span></li>
          <li><span>Online Doctors Appointment</span></li>
          <li><span>Chatbot</span></li>
          <li><span>Storing Customer Details</span></li>
          <li><span>Storing Details of Dynamic Web pages</span></li>
              <li><span>Session Management</span></li>
              <li><span>Notification Reminder</span></li>
          </i>
      </ol>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Online Medicine Ordering</i></h5>
      <p><i>Order Medicines Online- Online users can either send their electronic prescription or simply scan the written prescription with their electronic gadgets. To get the exact medicine from the medical store.and they will get their medicines within 2 days.</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left">Doctors Profile</h5>
      <p><i>Doctors, also known as physicians, are licensed health professionals who maintain and restore human health through the practice of medicine. They examine patients, review their medical history, diagnose illnesses or injuries, administer treatment, and counsel patients on their health and well being.</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Hospital Details and Locations</i></h5>
      <p><i>A hospital is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment.In this helpful hearts providing details of hospitals and also there locations</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left">Fitness Centers Details and Locations</h5>
      <p><i>The Fitness Center is a health, recreational, and social facility geared towards exercise, sports, and other physical activities. It may be a for-profit commercial facility or a community- or institutionally-supported center.These include a juice or snack bar, sport spectator seating, saunas, and hot tubs</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left">Login Authentication</h5>
      <p><i>In computing, authentication is the process of verifying the identity of a person or device. A common example is entering a username and password when you log in to a website. Entering the correct login information lets the website know  <br>1) who you are ? 2) that it is actually you accessing the website</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Diet Plan Recommendations</i></h5>
      <p><i>Emphasizes vegetables, fruits, whole grains, and fat-free or low-fat dairy products.Includes lean meats, poultry, fish, beans, eggs, and nuts.
Limits saturated and trans fats, sodium, and added sugars.
Controls portion sizes.
</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Online Doctors Appointment</i></h5>
      <p><i>shows that online appointment system is a system which a. patient can easily access to the website and book their. appointments .In this way the patient can give the additional. information to the doctor when they arrives and giving the. doctor time to prepare the necessary information .In this way.</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Chatbot</i></h5>
      <p><i>Chatbots, or “bots” for short, are computer programs that interact with people in a way that mimics human interaction to some degree. The interaction can vary in complexity from simple keyword-driven queries to elaborate conversational systems using natural language processing and AI techniques</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Storing Customer Details</i></h5>
      <p><i>When collecting information about customers, try to find out what your customers are buying, why they are buying,what are they personal details to recommend diet plan,which doctors appointment they are booking,how often they are buying. Include any potential customers who have made enquiries about your goods or services. There are many ways to collect information on your customers, including: order forms</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Storing Details Of Dynamic Webpages</i></h5>
      <p><i>In dynamic web pages, the Content of pages is different for different pages. It takes more time to load than the static web page. Dynamic web pages are used where the information is changed frequently, for example, stock prices, weather information</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left"><i>Session Management</i></h5>
      <p><i>Session management refers to the process of securely handling multiple requests to a web-based application or service from a single user or entity. Websites and browsers use HTTP to communicate, and a session is a series of HTTP requests and transactions initiated by the same user.</i></p>
      <h5 class="font-weight-bold" style="text-align-last:left" ><i>Notification Reminder</i></h5>
      <p><i>Reminders are alarms triggered at a specified time before an event starts. Notifications allows you to remind to drink water glass of water.</i></p>
  </div>
          </div>
      </div>
    </div>
</div>
    </div>

{% endblock main-content %}